<!DOCTYPE HTML>
<html>
<head>
    <title>Hello Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="message">
        <h1>CSS Sample</h1>
    </div>
</body>
</html>
