<!DOCTYPE HTML>
<html>
<head>
    <title>Hello Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
    Hello, main!!!
</body>
</html>
